<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>勤務表</title>
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="view">
        <div class="confirm_top">
            <button class="btn-warning">提出</button>
            <button class="btn-primary">保存</button>
        </div>
        <div class="up_right">
            <p>2015/9/4 00:00:00 あとでやる</p>
            <p>自分のメールアドレス　あとでやる</p>
            <a href="url">閲覧用勤務表を開くリンクあとでなおす</a>
            <a href="url2">交通費精算書入力画面を開くリンクあとでなおす</a>
        </div>
        <div class="worksheets">
            <table class="table table-bordered table">
                <thead>
                <tr>
                    <th colspan="2">対象月</th>
                    <th>yy/mm</th>
                    <th>氏名</th>
                    <th>水村智美</th>
                    <th>状態</th>
                    <th>　　　</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>日</td>
                    <td>曜日</td>
                    <td>勤務届け</td>
                    <td>始業時刻</td>
                    <td>終業時刻</td>
                    <td>除外時間</td>
                    <td>備考</td>
                </tr>
                <tr>
                    <td>１</td>
                    <td>火</td>
                    <td>せれくと</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                    <td>　　　　</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="confirm_bot">
            <button class="btn-warning">提出</button>
            <button class="btn-primary">保存</button>
        </div>

    </div>
</body>
</html>